<section class="container">
  <div class="row justify-content-center">
    <div class="col-sm-5 mt-2 mr-4">
      <div class="text-primary">
        <h3 class="font-weight-bold">Welcome to Soccer Twitter</h3>
        <p class="guest-text">Connect with soccer buddies. Share your opinion succintly and eloquently. Just like exhilarating and exciting viewpoints.</p>
        <ul class="links px-0">
          <%= homepage_actions %>
        </ul>
      </div>
    </div>

    <div class="col-sm-5 mt-2">
      <%= render 'devise/registrations/form'%>
    </div>
  </div>
</section>

