<div class="user-info p-3 border-bottom d-flex align-items-center">
    <%= user_avatar(user.id) %>   
    <div class="ml-2 pt-2">
        <p class="mt-1 mb-0 font-weight-bold text-white"><%= user.full_name%></p>
        <p class="mt-0 text-white">@<%= user.username%></p>
    </div>
</div>