<div class="user-info border-bottom text-center">
    <%= user_avatar(user.id) %>   
    <p class="mt-1 mb-0 font-weight-bold text-muted"><%= user.full_name%></p>
    <p class="mt-0 text-muted">@<%= user.username%></p>
</div>