<div class="top-nav d-flex justify-content-between align-items-center  bg-primary p-3">
  <div class="top-logo">
<%= image_tag("soccer-icon.png", {:style => "width:7%;"}) %>

  </div>
  <div class="profile text-white">
    <%= link_to edit_user_registration_path do %>
      <i class="fas fa-cog fa-2x text-white"></i>
    <% end %>
  </div>
</div>