$body-bg: #E7ECEF;
$theme-colors: (
  "primary": #1DA1F2,
  "secondary": #213246,
  "success": #015668,
  "info": #0F81C7,
  "warning": rgb(12, 140, 144),
  "danger": #ff0000,
  "light": #ececec,
  "dark": #6c8297
);
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Roboto', sans-serif;
}

.signin-form {
  background: rgb(175, 177, 179);
  background: linear-gradient(90deg, rgb(221, 225, 226) 5%, rgb(218, 220, 223) 53%, rgba(77, 74, 77, 0.322) 76%);
  border-radius: 3%;
}

.profile-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.left-sidebar {
  min-height: 100vh;
}

.top-nav {
  height: 80px;
}

.opinion-body {
  min-height: 100vh;
  padding: 1rem 2rem;;
}

.nav-link-custom {
  color: map_get($theme-colors, 'dark');
}

.alert-success-custom {
  background: #5cb85c;
}

.links {
  display: flex;
  list-style: none;

  a {
    margin-right: 1rem;
    font-weight: bold;
    border: none;

    &:hover {
      background: #bcbdc5;
      padding: 5px 10px;
      color: rgb(32, 20, 20);
    }
  }
}

.nav-link-custom:hover,
.user-action-link:hover {
  background-color: map_get($theme-colors, 'primary');
  color: white;
  text-decoration: none;
}