  <footer class="footer col-12 text-center text-white bg-info">
    <p>All Rights Reserved &copy; 2020 <a href="https://uandiprogramming.blogspot.com" target="_blank" class="text-white text-decoration-none">uandiprogramming</a></p>
  </footer>