  <footer class="col-12 text-center text-white">
    <%= footer_links %>
    <p class="mt-3">All Rights Reserved &copy; 2020 <a href="https://uandiprogramming.blogspot.com" target="_blank" class="text-white text-decoration-none">uandiprogramming</a></p>
  </footer>