<div class="container m-0 flash-messages">
 <div class="row m-0">
    <div class="col-12 mt-0 ">
      <% flash.each do |name, msg| %>
          <% msg = blank_tweet(name, msg)%>
          <%= flash_message(name)%>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= render_flash_message(name, msg) %>
        </div>
      <% end %>
    </div>
 </div>
</div>